@import url("https://api.fontshare.com/v2/css?f[]=sora@100,200,300,400,500,600,700,800,1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sora", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
