body {
  background-color: #fef5ea;
  padding: 0 15%;
}

nav {
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  font-size: 2.6rem;
}

main {
  padding-top: 120px;
}
.writing-container {
  display: flex;
  padding: 12px 0;
}
.index {
  font-size: 2rem;
}
.writing-title {
  font-size: 2rem;
}
