---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allWritings = await getCollection('writings');

import "../../styles/writings.css"
---

<Layout title="Writings">
    <nav>
        <div>Writings</div>
        <div>
            <a href="../">Home</a>
            <a href="./projects">Projects</a>
            <a href="./contact">Contact</a>
        </div>
    </nav>
    <main>
        
       <div class="writings-container">
        {allWritings.toReversed().map((writing, index)=> {
            return(
                <a href={`/${writing.slug}`} class="writing-container">
                    <div class="index">{index+1}.</div>
                    <div>
                        <div class="writing-title">{writing.data.title}</div>
                        <div class="writing-date">{writing.data.date.toISOString().slice(0,10)}</div>
                    </div>
                </a>
            );
        })}
       </div>

    </main>
</Layout>