---
import Layout from "../layouts/Layout.astro"

import "../styles/contact.css"
---

<Layout title="Contact">
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="./writings" class="hiding-menu">Writings</a>
        <a href="./projects" class="hiding-menu">Projects</a>
        <button class="menu-toggle"><img src="/icons/menu-black.svg" class="menu-icon" /></button>
        <div class="hidden-menu">
            <a href="./writings" class="hidden-menu-item">Writings</a>
            <a href="./projects" class="hidden-menu-item">Projects</a>
        </div>
    </nav>
    <main>

        <div class="contact-marquee">
            <a href="mailto:makishtp@gmail.com" class="contact-marquee-content text-marquee">
                <div>The contact form does not work</div>
                <div>mail me at makishtp[at]gmail[dot]com</div>
                <div>or click here</div>
            </a>
            <a href="mailto:makishtp@gmail.com" class="contact-marquee-content text-marquee">
                <div>The contact form does not work</div>
                <div>mail me at makishtp[at]gmail[dot]com</div>
                <div>or click here</div>
            </a>
        </div>
        
        <div class="contact-main">
            <div class="model">hello</div>
            <form class="contact-form">
                <div class="split-form-row">
                    <label>
                        <span>Name: </span>
                        <input type="text" />
                    </label>
                    <label>
                        <span>Phone: </span>
                        <input type="text" />
                    </label>
                </div>
                <label>
                    <span>Email: </span>
                    <input type="email" />
                </label>
                <label class="textarea-label">
                    <span>Message: </span>
                    <textarea></textarea>
                </label>
                <div class="fake-button">Submit</div>
            </form>
        </div>


        <div class="contact-marquee">
            <div class="contact-marquee-content icon-marquee">
                <a href="https://github.com/akishtp"><img src="/icons/github.svg" alt="github" /></a>
                <a href="https://www.instagram.com/akish.tp/"><img src="/icons/instagram.svg" alt="instagram" /></a>
                <a href="https://www.linkedin.com/in/akishtp/"><img src="/icons/linkedin.svg" alt="linkedin"></a>
                <a href="https://x.com/imAkishtp"><img src="/icons/twitter.svg" alt="twitter"></a>
                <a href="https://www.youtube.com/@akishtp"><img src="/icons/youtube.svg" alt="youtube" /></a>
            </div>
            <div class="contact-marquee-content icon-marquee">
                <a href="https://github.com/akishtp"><img src="/icons/github.svg" alt="github" /></a>
                <a href="https://www.instagram.com/akish.tp/"><img src="/icons/instagram.svg" alt="instagram" /></a>
                <a href="https://www.linkedin.com/in/akishtp/"><img src="/icons/linkedin.svg" alt="linkedin"></a>
                <a href="https://x.com/imAkishtp"><img src="/icons/twitter.svg" alt="twitter"></a>
                <a href="https://www.youtube.com/@akishtp"><img src="/icons/youtube.svg" alt="youtube" /></a>
            </div>
        </div>

    </main>
    <script src="../scripts/contact.ts" />
</Layout>