---
import { ViewTransitions } from 'astro:transitions';
---

<html>
    <head>
        <title>Contact | Akish T P</title>
		<ViewTransitions />
    </head>
    <body class="bg-black">
        <div class="h-16 bg-black text-white flex justify-between items-center" transition:name="contact-nav">
            <div transition:name="contact-text">CONTACT</div>
            <div class="flex">
                <div transition:name="projects-text">PROJECTS</div>
                <div transition:name="gallery-text">GALLERY</div>
            </div>
        </div>
        <div class="bg-white">
            hullo
        </div>
    </body>
</html>