---
import '../styles.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<title>Contact | Akish T P</title>
	</head>
	<body>
        <nav>
            <a href="./">Home</a>
            <a href="./projects">Projects</a>
            <a href="./stuff">Stuff</a>
            <a href="./youtube">Youtube</a>
        </nav>
        <a href="mailto:makishtp@gmail.com" class="marquee">
            <div class="marquee-slider">
                <div class="message">The form doesn't work</div>
                <div class="message">makishtp(at)gmail(dot)com</div>
                <div class="message">click here to mail me</div>
            </div>
            <div class="marquee-slider">
                <div class="message">The form doesn't work</div>
                <div class="message">makishtp(at)gmail(dot)com</div>
                <div class="message">click here to mail me</div>
            </div>
        </a>
        <div class="main-section">
            <div class="ddd">3D Model</div>
            <form class="false-form">
                <div class="two-inputs">
                    <label>
                        <span>Name: </span>
                        <input type="text" disabled />
                    </label>
                    <label>
                        <span>Email: </span>
                        <input type="text" disabled />
                    </label>
                </div>
                <label>
                    <span>Subject: </span>
                    <input type="text" disabled />
                </label>
                <label class="fill-space">
                    <span>Message: </span>
                    <textarea disabled></textarea>
                </label>
                <button class="submit-button">Send</button>
            </form>
        </div>
        <div class="logos">
            <div class="logos-slider">
                <a href="https://github.com/akishtp"><img src="/logos/github.png" alt="github logo"></a>
                <a href="https://www.instagram.com/akish.tp/"><img src="/logos/instagram.png" alt="instagram logo"></a>
                <a href="https://www.linkedin.com/in/akishtp/"><img src="/logos/linkedin.png" alt="linkedin logo"></a>
                <a href="https://www.youtube.com/@akishtp"><img src="/logos/youtube.png" alt="youtube logo"></a>
            </div>
            <div class="logos-slider">
                <a href="https://github.com/akishtp"><img src="/logos/github.png" alt="github logo"></a>
                <a href="https://www.instagram.com/akish.tp/"><img src="/logos/instagram.png" alt="instagram logo"></a>
                <a href="https://www.linkedin.com/in/akishtp/"><img src="/logos/linkedin.png" alt="linkedin logo"></a>
                <a href="https://www.youtube.com/@akishtp"><img src="/logos/youtube.png" alt="youtube logo"></a>
            </div>
        </div>
        <!-- <footer>
            <a href="https://akishtp.github.io/Static-Website/">Portfolio v2020</a>
        </footer> -->
    </body>
</html>

<style>
    body{
        background-color: #dbdbdb;
        color: #000;
		font-family: Helvetica, Arial, sans-serif;
        font-size: 3dvh;
        display: flex;
        flex-direction: column;
        min-height: 100dvh;
	}
    nav{
        color: #fff;
        height: 12dvh;
        display: flex;
        align-items: center;
        background-color: #000;
        justify-content: space-around;
        border-bottom: 0.4dvh solid #000;
        border-top: 0.4dvh solid #000;
    }
    .marquee{
        border-bottom: 0.4dvh solid #000;
        border-top: 0.4dvh solid #000;
        height: 10dvh;
        display: flex;
        align-items: center;
        position: relative;
        overflow-x: hidden;
    }
    .marquee-slider{
        display: flex;
        animation: 14s marquee infinite linear;
    }
    .message{
        white-space: nowrap;
        margin: 0 25vw;
    }
    .main-section{
        border-bottom: 0.4dvh solid #000;
        border-top: 0.4dvh solid #000;
        flex: 1;
        display: flex;
    }
    .ddd{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50vw;
        border-right: 0.4dvh solid #000;
        background-color: #000;
        color: #fff;
    }
    .false-form{
        width: 50vw;
        border-left: 0.4dvh solid #000;
        display: flex;
        flex-direction: column;
        padding: 4dvh 6dvh;
    }
    .two-inputs{
        display: flex;
        justify-content: space-between;
    }
    .two-inputs label{
        width: 48%;
    }
    .false-form label{
        padding: 6px 0;
        display: flex;
        flex-direction: column;
    }
    .false-form .fill-space{
        flex: 1;
    }
    .false-form input:disabled{
        height: 6dvh;
        background-color: #000;
        border: none;
        cursor: text;
    }
    .false-form textarea:disabled{
        height: 100%;
        background-color: #000;
        border: none;
        cursor: text;
    }
    .submit-button{
        margin: 6px 0;
        height: 7dvh;
        border: 0.6dvh solid #000;
        width: 42%;
        background-color: transparent;
        cursor: pointer;
        font-size: 3dvh;
    }
    .logos{
        border-bottom: 0.4dvh solid #000;
        border-top: 0.4dvh solid #000;
        height: 14dvh;
        overflow-x: hidden;
        display: flex;
        align-items: center;
        position: relative;
    }
    /* .marquee:before, */
    /* .marquee:after, */
    .logos:before,
    .logos:after{
        position: absolute;
        top: 0;
        width: 10vw;
        height: 100%;
        content: "";
        z-index: 2;
    }
    /* .marquee:before, */
    .logos:before{
        left: 0;
        background: linear-gradient(to left, rgba(255,255,255,0), #dbdbdb);
    }
    /* .marquee:after, */
    .logos:after{
        right: 0;
        background: linear-gradient(to right, rgba(255,255,255,0), #dbdbdb);
    }
    /* .marquee:hover .marquee-slider, */
    /* .logos:hover .logos-slider{
        animation-play-state: paused;
    } */
    .logos-slider{
        white-space: nowrap;
        animation: 14s marquee infinite linear;
        display: flex;
    }
    .logos-slider img{
        height: 5dvh;
        margin: 0 12vw;
    }

    @media only screen and (max-width: 768px) {
        .main-section{
            flex-direction: column;
        }
        .ddd{
            width: 100%;
            border-right: none;
            flex: 1;
        }
        .false-form{
            flex: 1;
            width: 100%;
            border-left: none;
            padding: 2dvh 3dvh;
        }
        .false-form textarea{
            flex: 1;
        }
    }

    @keyframes marquee {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }
</style>