---
import '../styles.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="generator" content={Astro.generator} />
		<title>Akish T P</title>
	</head>
	<body>
		<div class="hero">
			<div class="hero-title">AKISH T P</div>
			<div class="hero-description">
				<div>Comp Sci graduate</div>
				<div>Watches a lot of youtube</div>
			</div>
		</div>
		<div class="sub-hero hero-contact" sub-hero-contact>
			<div class="sub-hero-slider">
				<div class="sub-hero-title">CONTACT</div>
				<span class="sub-hero-title hover-hidden">CONTACT</span>
			</div>
			<div class="sub-hero-slider hover-hidden">
				<div class="sub-hero-title">CONTACT</div>
				<div class="sub-hero-title">CONTACT</div>
			</div>
		</div>
		<div class="sub-hero hero-projects" sub-hero-projects>
			<div class="sub-hero-slider">
				<span class="sub-hero-title">PROJECTS</span>
				<span class="sub-hero-title hover-hidden">PROJECTS</span>
			</div>
			<div class="sub-hero-slider hover-hidden">
				<span class="sub-hero-title">PROJECTS</span>
				<span class="sub-hero-title">PROJECTS</span>
			</div>
		</div>
		<div class="sub-hero hero-stuff" sub-hero-stuff>
			<div class="sub-hero-slider">
				<span class="sub-hero-title">STUFF</span>
				<span class="sub-hero-title hover-hidden">STUFF</span>
			</div>
			<div class="sub-hero-slider hover-hidden">
				<span class="sub-hero-title">STUFF</span>
				<span class="sub-hero-title">STUFF</span>
			</div>
		</div>
		<script src="../scripts/hero.js"></script>
	</body>
</html>

<style>
	body{
		font-family: Helvetica, Arial, sans-serif;
		font-size: 3dvh;
		background-color: #000;
		color: #000;
	}
	.hero{
		height: 34dvh;
		border-top: .4dvh solid #000;
		border-bottom: .4dvh solid #000;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: #fff;
	}
	.hero-title{
		font-size: 28dvh;
		font-weight: 600;
		line-height: 25dvh;
	}
	.hero-description{
		display: flex;
		align-items: flex-end;
		flex-direction: column;
	}
	.sub-hero{
		position: absolute;
		width: 100vw;
		height: 22dvh;
		border-top: .4dvh solid #000;
		border-bottom: .4dvh solid #000;
		overflow: hidden;
		display: flex;
		cursor: pointer;
	}
	.sub-hero:hover .sub-hero-slider{
        animation: 14s marquee infinite linear;
		width: fit-content;
		justify-content: flex-start;
	}
	.sub-hero-slider{
		padding: 4dvh 0 0 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		width: 100%;
	}
	.hover-hidden{
		display: none;
	}
	.sub-hero:hover .hover-hidden{
		display: flex;
	}
	.sub-hero-title{
		font-size: 34dvh;
		line-height: 28dvh;
		font-weight: 900;
		margin: 0 0 0 8vw;
	}

	.hero-contact{
		top: 34dvh;
		background-color: #70a0ff;
	}
	.hero-contact:hover{
		background-color: #2481de;
	}
	.hero-projects{
		top: 56dvh;
		background-color: #c86fff;
	}
	.hero-projects:hover {
		background-color: #9d00ff;
	}
	.hero-stuff{
		top: 78dvh;
		background-color: #fffa6f;
	}
	.hero-stuff:hover {
		background-color: #ffd51b;
	}
	.sub-hero:hover{
		color: #fff;
	}

	@media only screen and (max-width: 768px) {
		.hero{
			height: 76dvh;
		}
		.hero-title{
			font-size: 10dvh;
			line-height: 10dvh;
		}
		.sub-hero{
			height: 8dvh;
		}
		.sub-hero-slider{
			padding: 0;
		}
		.sub-hero-title{
			font-size: 8dvh;
			line-height: 8dvh;
		}
		.hero-contact{
			top: 76dvh;
			background-color: #70a0ff;
		}
		.hero-projects{
			top: 84dvh;
		}
		.hero-stuff{
			top: 92dvh;
		}
	}

	@keyframes marquee {
		from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
	}

	.expanded {
		overflow: unset;
		height: 100dvh;
		z-index: 2;
		top: 0;
		transition: height 500ms, top 500ms, background-color 500ms;
	}
	.expanded.hero-contact{
		background-color: #dbdbdb;
	}
	.expanded .sub-hero-slider{
		color: rgba(255, 255, 255, 0);
		transition: color 500ms;
	}
</style>