---
import Layout from "../layouts/Layout.astro"
import "../styles/index.css"
---

<Layout title="Akish T P">
	<div class="about-nav nav">
		<div class="name">AKISH T P</div>
		<div class="description">
			<div>CS graduate</div>
			<div>Freelance developer</div>
		</div>
	</div>
	<a href="contact" class="contact-nav nav">CONTACT</a>
	<a href="writings" class="writings-nav nav">WRITINGS</a>
	<a href="projects" class="projects-nav nav">PROJECTS</a>
</Layout>