---
import '../styles.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Akish T P</title>
	</head>
	<body>
		<div class="hero">
			<div class="hero-title">AKISH T P</div>
			<div>
				<div>Comp Sci graduate</div>
				<div>Watches a lot of youtube</div>
			</div>
		</div>
		<div class="sub-hero">
			<span class="sub-hero-title">CONTACT</span>
		</div>
		<div class="sub-hero">
			<span class="sub-hero-title">PROJECTS</span>
		</div>
		<div class="sub-hero">
			<span class="sub-hero-title">WRITINGS</span>
		</div>
	</body>
</html>

<style>
	html{
		background-color: #000;
		color: #fff;
	}
	body{
		font-family: Helvetica, Arial, sans-serif;
	}
	.hero{
		height: 40vh;
		border-top: .4vh solid #fff;
		border-bottom: .4vh solid #fff;
	}
	.hero-title{
		font-size: 28vh;
	}
	.sub-hero{
		height: 20vh;
		border-top: .4vh solid #fff;
		border-bottom: .4vh solid #fff;
		overflow-y: hidden;
	}
	.sub-hero-title{
		display: flex;
		font-size: 28vh;
		/* align-items: center; */
		/* justify-content: center; */
		line-height: 28vh;
	}
</style>