---
import Layout from "../layouts/Layout.astro"
import "../styles/index.css"
---

<Layout title="Akish T P">
	<div class="about-nav nav">
		<div class="name">AKISH T P</div>
		<div class="description">
			<div>CS graduate</div>
			<div>grinding leetcode</div>
		</div>
	</div>
	<a href="contact" class="contact-nav nav">
		<div class="nav-marquee-content">CONTACT</div>
		<div class="nav-marquee-content">CONTACT</div>
		<div class="nav-marquee-content">CONTACT</div>
	</a>
	<a href="writings" class="writings-nav nav">
		<div class="nav-marquee-content">WRITINGS</div>
		<div class="nav-marquee-content">WRITINGS</div>
		<div class="nav-marquee-content">WRITINGS</div>
	</a>
	<a href="projects" class="projects-nav nav">
		<div class="nav-marquee-content">PROJECTS</div>
		<div class="nav-marquee-content">PROJECTS</div>
		<div class="nav-marquee-content">PROJECTS</div>
	</a>
</Layout>