---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-black text-white h-screen">
		<div class="h-2/5 flex flex-col justify-between">
			<div>AKISH T P</div>
			<div class="flex items-end flex-col">
				<div>CS Student</div>
				<div>does some web development</div>
				<div>watches a lot of Youtube</div>
			</div>
		</div>
		<div class="flex items-center h-1/5 overflow-hidden border-black bg-[#c86fff] text-black">PROJECTS</div>
		<div class="flex items-center h-1/5 overflow-hidden border-black bg-[#fffa6f] text-black">GALLERY</div>
		<div class="flex items-center h-1/5 overflow-hidden border-black bg-[#70a0ff] text-black">CONTACT</div>
	</body>
</html>
