---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Akish T P</title>
	</head>
	<body class="bg-black">
		<div class="h-40vh bg-black text-white border-y-8 border-black">
			<div class="">AKISH T P</div>
			<div>This is my portfolio</div>
		</div>
		<div class="bg-projects flex items-center h-20vh text-hero overflow-hidden border-y-4 border-black hover:bg-projects-hover hover:text-neutral-100">PROJECTS</div>
		<div class="bg-gallery flex items-center h-20vh text-hero overflow-hidden border-y-4 border-black hover:bg-gallery-hover hover:text-neutral-100">GALLERY</div>
		<div class="bg-primary flex items-center h-20vh text-hero overflow-hidden border-y-4 border-black hover:bg-primary-hover hover:text-neutral-100">CONTACT</div>
	</body>
</html>
