---
import { ViewTransitions } from 'astro:transitions';
---

<html>
    <head>
        <title>Projects | Akish T P</title>
        <ViewTransitions />
    </head>
    <body>
        <div transition:name="contact-nav"></div>
        <div transition:name="gallery-nav"></div>
        <div transition:name="projects-nav" class="container mx-auto rounded-2xl bg-neutral-200 h-[8vh] flex items-center justify-between px-8 my-4">
            <div transition:name="projects-text" class="text-xl font-bold">Projects</div>
            <div class="w-2/3 flex justify-between items-center h-[56%]">
                <input type="search" placeholder="search" class="px-2 h-full w-[36%]"/>
                <a href="/" transition:name="home-text">Home</a>
                <a href="./gallery" transition:name="gallery-text">Gallery</a>
                <a href="./contact" transition:name="contact-text">Contact</a>
                <a href="./youtube" transition:name="youtube-text">Youtube</a>
            </div>
        </div>
        <main>
            
        </main>
    </body>
</html>