---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro"

const allProjects = await getCollection('projects');

import "../../styles/projects.css"
---

<Layout title="Projects">
    <nav class="navbar">
        <div class="name">Projects</div>
        <div class="nav-items">
            <a href="/" class="nav-item">
                Home
                <div class="nav-item-backround"></div>
            </a>
            <a href="../contact" class="nav-item">
                Contact
                <div class="nav-item-backround"></div>
            </a>
        </div>
        <div class="hamburgusa">
            ---
        </div>
    </nav>
    <main>

        <a href="./writings" class="latest-blog">
            <div class="latest-blog-content">Latest writing: Hello World&nbsp;⊛&nbsp;</div>
            <div class="latest-blog-content">Latest writing: Hello World&nbsp;⊛&nbsp;</div>
            <div class="latest-blog-content">Latest writing: Hello World&nbsp;⊛&nbsp;</div>
        </a>


        <div class="project-grid">
            {allProjects.map(project=>{
                return (
                    <a href={`/${project.slug}`} class="project-grid-item">
                        <img src={project.data.image.src} alt={project.data.image.alt} />
                        <div class="project-bottom">
                            <div class="project-title">{project.data.title}</div>
                            <div>↗</div>
                        </div>
                    </a>
                );
            })}
        </div>

    </main>
</Layout>