@import url("https://api.fontshare.com/v2/css?f[]=hind@400&f[]=general-sans@1&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Hind", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  display: inherit;
}
