* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  border-top: 0.4vw solid #000;
  background-color: #dde7f3;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.page-title {
  font-size: 10vw;
  font-weight: 800;
  line-height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.2vw solid #000;
  border-inline: none;
}
.project:first-of-type {
  border-top: 0.4vw solid #000;
}
.project:last-of-type {
  border-bottom: 0.4vw solid #000;
}
.project .left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .left-side img {
  height: 10vw;
}
.project button {
  border: 0.4vw solid #000;
  padding: 0.6vw 2vw;
  font-size: 1.2vw;
  font-weight: 500;
}
