* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #dde7f3;
  font-family: "Roboto", sans-serif;
  border-top: 0.4vw solid #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading {
  font-size: 8vw;
  font-weight: 700;
}
.projects {
  width: 70vw;
}
.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6vw 0;
}
.full-stop {
  margin: 0 20px;
}
.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 128px;
}
.middle-side {
  width: calc(100% - 409px);
  margin: 0 36px;
}
.first-line {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 3vw;
  font-weight: 700;
}
.year {
  font-size: 1.2vw;
  font-weight: 600;
}
.role {
  font-size: 1.2vw;
  font-weight: 600;
  margin: 16px 0;
}
.right-side {
  width: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.read-more {
  padding: 0.6vw 1vw;
  border-radius: 0;
  border: 0.2vw solid #000;
  width: 169px;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 0.4vw solid #000;
  border-top: 0.4vw solid #000;
  width: 100vw;
  top: 50vw;
  height: 16vw;
}
.me {
  width: 69%;
  height: 100%;
  font-size: 3vw;
  line-height: 2.6vw;
  border-right: 0.4vw solid #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw 2vw;
}
.footer .socials {
  width: 31%;
}

@media only screen and (max-width: 669px) {
  .projects {
    width: 100vw;
  }
  .footer {
    flex-direction: column-reverse;
    top: 90vw;
    height: 30vw;
  }
  .footer .me {
    height: 100%;
    border-right: none;
    width: 100%;
    padding: 2vw;
    font-size: 4vw;
  }
  .footer .socials {
    border-bottom: 0.4vw solid #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    font-size: 4vw;
  }
}
