* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #dde7f3;
  font-family: "Roboto", sans-serif;
  border-top: 0.4vw solid #000;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.heading {
  font-size: 12vw;
  font-weight: 700;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-name: fadeInTop;
}
.projects {
  width: 80vw;
}
.logo {
  height: 12vw;
}
.project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 6vw 0;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: fadeInTop;
}
.left-side {
  display: flex;
  align-items: center;
}
.middle-side {
  width: 60%;
}
.second-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 2vw;
  margin: 12px 0;
}
.title {
  font-weight: 700;
  font-size: 3vw;
}
.full-stop {
  margin: 0 20px 0 0;
}
.read-more {
  padding: 0.8vw 1.4vw;
  border: 0.2vw solid #000;
  font-size: 1.6vw;
}
.one-liner {
  font-size: 1.8vw;
}
.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 0.4vw solid #000;
  border-top: 0.4vw solid #000;
  width: 100vw;
  top: 50vw;
  height: 16vw;
}
.me {
  width: 69%;
  height: 100%;
  font-size: 2.4vw;
  line-height: 2vw;
  border-right: 0.4vw solid #000;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: space-between;
  padding: 1vw 2vw;
}
.footer .socials {
  width: 31%;
}

@keyframes fadeInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 100;
  }
}

@media only screen and (max-width: 669px) {
  .projects {
    width: 100vw;
  }
  .footer {
    flex-direction: column-reverse;
    top: 90vw;
    height: 30vw;
  }
  .footer .me {
    height: 100%;
    border-right: none;
    width: 100%;
    padding: 2vw;
    font-size: 4vw;
  }
  .footer .socials {
    border-bottom: 0.4vw solid #000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    font-size: 4vw;
  }
}
