* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #0f0f0f;
}
.nav-item {
  width: 100vw;
  height: 128px;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  justify-content: flex-end;
  transition: 10s;
  border-top: 1px solid #000;
}
.nav-item.name-wrapper {
  background-color: #010101;
  justify-content: flex-start;
}
.nav-item img {
  max-width: 100vw;
  min-height: 100%;
}
.nav-item.about-wrapper {
  background-color: #00ef00;
}
.nav-item.contact-wrapper {
  background-color: #6900ef;
}
.nav-item.gallery-wrapper {
  background-color: #2481de;
}
.nav-item.projects-wrapper {
  background-color: #ef6900;
}
.nav-item.youtube-wrapper {
  background-color: #ef0000;
}
