* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.navigation-bar {
  z-index: 100;
  position: fixed;
  left: 50%;
  bottom: 4px;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 4px;
  border-radius: 20px;
  height: 69px;
  background-color: rgba(114, 114, 114, 0.47);
}
.navigation-bar img {
  height: 54px;
  width: 54px;
  margin: 4px;
}
