* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: #dde7f3;
  font-family: "Roboto", sans-serif;
}
.navbar {
  position: fixed;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.4vw solid #000;
  border-top: 0.4vw solid #000;
  background-color: #ff0000;
  padding: 0 0.4vw;
  width: 100vw;
  z-index: 1;
}
.navbar img {
  height: 42px;
}
.navbar .right-side {
  display: flex;
}
.navbar input {
  height: 42px;
  border: 0.2vw solid #000;
  border-right: 0.1vw solid #000;
  padding: 0 0.4vw;
}
.navbar button {
  height: 42px;
  width: 42px;
  border: 0.2vw solid #000;
  border-left: 0.1vw solid #000;
  cursor: pointer;
}
.sidebar {
  height: 100vh;
  width: 64px;
  border: 0.4vw solid #000;
  border-top: 0;
  border-left: none;
  padding: 64px 0 0 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 0;
}
.sidenav {
  height: 64px;
  border-bottom: 0.4vw solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
}
.content {
  padding: 64px 0 0 64px;
}
.content .banner {
  width: 100%;
  height: 20vw;
  border-bottom: 0.4vw solid #000;
}
.content .banner img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.content .info img {
  border: 0.2vw solid #000;
  height: 10vw;
}
.content .info {
  height: 16vw;
  border-bottom: 0.4vw solid #000;
  display: flex;
  justify-content: space-between;
  padding: 0 10vw;
}
.content .info {
  display: flex;
  align-items: center;
}
.content .info .left-side {
  display: flex;
  align-items: center;
}
.content .info .left-side .name-count {
  font-size: 2vw;
  font-weight: 500;
  margin: 0 4vw;
  display: flex;
  flex-direction: column;
}
.content .info .left-side .name-count .name,
.content .info .left-side .name-count .count {
  margin: 5% 0;
}
.content .info button {
  background-color: #ff0000;
  color: #fff;
  border: 0.2vw solid #000;
  padding: 0.6vw 2vw;
  font-size: 2vw;
  font-weight: 500;
}

.videos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.videos .video-card-wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.videos .video-card {
  background-color: #000;
  color: #fff;
  text-decoration: none;
  padding: 10px 8px;
  margin: 20px;
}
.videos .video-card .video-title {
  font-size: 1.2vw;
  padding: 6px 0;
}
.videos .video-card .video-date {
  font-size: 0.8vw;
  color: #cacaca;
}

@media only screen and (max-width: 669px) {
  .content .banner {
    height: 28vh;
  }
  .content .info {
    height: 20vh;
  }
  .content .info img {
    height: 10vh;
  }
  .content {
    padding: 64px 0 0 0;
  }
  .sidebar {
    padding: 0;
    flex-direction: row;
    height: 48px;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    justify-content: space-around;
    border-top: 0.2vw solid #000;
    background-color: #dde7f3;
  }
  .sidenav {
    width: calc(100vw / 4);
    border: 0.2vw solid #000;
    height: 100%;
    font-size: 1rem;
  }
  .videos .video-card-wrapper {
    width: 100%;
  }
}
