@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #dde7f3;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  border-bottom: 0.4vw solid #000;
  border-top: 0.4vw solid #000;
}
a {
  text-decoration: none;
  color: inherit;
}
.youtube-navbar {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeInTop;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.4vw solid #000;
  height: 64px;
  background-color: #ff0000;
}
.youtube-navbar button {
  height: 42px;
  width: 42px;
  background-color: #dde7f3;
  border: 2px solid #000;
}
.youtube-navbar input {
  height: 42px;
  border: 2px solid #000;
  border-right: none;
  padding: 0 12px;
  width: 48%;
}
.youtube-navbar .middle-side img {
  height: 42px;
}
.youtube-navbar .left-side,
.youtube-navbar .middle-side,
.youtube-navbar .right-side {
  width: 33.33%;
  display: flex;
  align-items: center;
}
.youtube-navbar .right-side {
  justify-content: flex-end;
}
.inner-body {
  display: flex;
  min-height: 100vh;
}
.side-nav {
  border-right: 0.4vw solid #000;
  display: flex;
  flex-direction: column;
  width: 64px;
  background-color: #dde7f3;
  z-index: 100;
}
.side-nav-item {
  height: 64px;
  border-bottom: 0.4vw solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
.big-right-side {
  width: 100%;
}
.banner {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeInTop;
  width: 100%;
  height: 20vw;
  border-bottom: 0.4vw solid #000;
}
.banner img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.channel-details {
  height: 16vw;
  border-bottom: 0.4vw solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeInTop;
  padding: 0 10vw;
  font-size: 2vw;
}
.channel-details .left-side {
  display: flex;
  align-items: center;
}
.channel-details .left-side img {
  border: 4px solid #000;
  margin: 0 20px 0 0;
  height: 10vw;
}
.channel-text-details {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}
.subscribe {
  background-color: #ff0000;
  color: #fff;
  border: 0.4vw solid #000;
  padding: 0.6vw 2vw;
  font-size: 2vw;
  font-weight: 500;
}

.videos-section {
  padding: 4vw 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.video-card {
  display: flex;
  flex-direction: column;
  width: 46%;
  border: 0.4vw solid #000;
  padding: 4px;
  background-color: #101010;
  color: #efefef;
}
.video-title {
  font-size: 1.6vw;
  padding: 6px 0;
}
.left-animation {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}
.right-animation {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}
@keyframes fadeInTop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 669px) {
  .youtube-navbar .right-side input {
    display: none;
  }
  .banner {
    height: 28vh;
  }
  .channel-details {
    height: 24vh;
    padding: 0;
    font-size: 4vw;
  }
  .channel-details .left-side img {
    margin: 2vw;
    height: 22vw;
  }
  .subscribe {
    margin: 2vw;
    font-size: 3vw;
    padding: 1.4vw 2vw;
  }
  .videos-section {
    flex-direction: column;
    padding: 1vh 2vw;
    padding-bottom: calc(100vw / 8 + 2vw);
  }
  .video-card {
    width: 100%;
    margin: 1vh;
  }
  .video-title {
    font-size: 2.6vh;
  }
  .side-nav {
    position: fixed;
    bottom: 0;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    border-right: none;
    border-top: 0.4vw solid #000;
    height: calc(100vw / 8);
  }
  .side-nav-item {
    width: 25%;
    height: 100%;
    font-size: calc(100vw / 16);
    border-right: 0.4vw solid #000;
    border-bottom: none;
  }
  .side-nav-item:last-child {
    border-right: none;
  }
}
